li{
    list-style-type: none;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    column-gap: 30px;
    padding: 2px;
}
a{
    color: black;
}
.brand-name{
    font-family: "Alfa Slab One", serif;
    font-size: 8rem;
}
.nav-header{
    display: flex;
    justify-content: space-around;
}
.starting-links{
    display: flex;
    flex-direction: column;
}
.get-started{
    color: black;
    background-color: #ffc832;
    border: 1px solid;
    border-color: #ffc832;
    border-radius: 4px;
    padding: 20px;
    font-size: 2.25rem;
    margin-top: 20px;
}
.get-started:hover{
    border-color: black;
}
.green{
    background-color: #0b7261;
    height: 480px;
    color: white;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

.green-heading{
    letter-spacing: -1px;
    display:inline-block;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 100px;
    font-size: 40px;
}

.green-highlight{
    position: relative;
    left: 100px;
    background-color: #2e2459;
    height: 12px;
    width: 220px;
}
.green-section{
    display: flex;
    text-align: left;
    margin: 10px 30px;
}
.gh{
    font-size: 35px;
    padding: 15px -20;
}
.gp{
    font-size: 18px;
}
.sec{
    height: auto;
    width: auto;
    flex: 1;
    padding: 0 60px;
}
.purple{
    background-color: #2e2459;;
    height: auto;
    color: white;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.purple-heading{
    letter-spacing: -1px;
    display:inline-block;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 100px;
    font-size: 40px;
}
.purple-highlight{
    position: relative;
    left: 100px;
    top: -10px;
    background-color: #a72145;
    height: 12px;
    width: 290px;
}
.purple a{
    color: white;
}
.p-info{
    box-sizing: border-box;
    font-size: 18px;
    padding: 20px 102px 0 102px;
}
.images{
    margin: auto;
    width: 85%;
    display: flex;
}
.img{
    flex: 1;
    text-align: center;
    margin: 0 10px;
}
.image{
    width: 100px;
    height: 100px;
    padding: 30px 10px;
}
.desc{
    font-size: 25px;
}
.info{
    margin: 20px 20px;
    text-align: left;
    font-size: 18px;
    height: 130px;
}
.purple-button{
    background-color: #a72145;
    border: 1px solid #a72145;
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
    font-weight: 600;
    display: inline-block;
}